@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#pokemon-list {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.card {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.types-container {
  display: flex;
}

.types-container p {
  margin: 0 0.6rem;
}

/* Pokemon types */
.bug {
  background-color: #2ecc71;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.poison {
  background-color: #8e44ad;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.grass {
  background-color: #00b894;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.electric {
  background-color: #f1c40f;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.fire {
  background-color: #c0392b;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.ground {
  background-color: #bd850d;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.flying {
  background-color: #4b7bec;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.water {
  background-color: #45aaf2;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.ice {
  background-color: #89ceff;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.normal {
  background-color: #a5b1c2;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.fairy {
  background-color: #f78fb3;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.fighting {
  background-color: #6d214f;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

.psychic {
  background-color: #cf4273;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}
